html, body
{
   height: 100%;
   margin: 0;
}

body
{
    background-image: linear-gradient(to right top, #ffffff, #8ec5e9, #52abdf, #249ddf, #06b0ff);
}

.heading
{
    font-size: 35px;
    width: 100%;
    font-weight: bolder;
    font-variant: small-caps;
    color: aliceblue;
}

#status
{
    font-size: 25px;
    color: aliceblue;
    font-weight: bold;
    font-variant: small-caps;
}

.back
{
    font-size: 18px;
    font-weight: bold;
    font-variant: small-caps;
    color: aliceblue;
    width: 15%;
    float: right;
}